.div-box {
    display: flex;
    justify-content: flex-end;
}

.title-card {
    text-align: center;
}

.ba-cai-div {
    font-size: 17px;
    height: 50px;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 3px  rgba(132, 245, 176, 0.3);
    padding: 10px 0 10px 20px;
    line-height: 25px;
    color: gray;
}

.txt-user {
    font-weight: 500;
}

.red {
    color: red;
}
.navy {
    color: navy;
}