.title {
    text-align: center;
}

.box-qua {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrolling-container {
    width: 100%;
    overflow: hidden;  /* Giấu phần ngoài phạm vi */
    white-space: nowrap;  /* Đảm bảo không có line break */
  }
  
  .scrolling-text {
    display: inline-block;
    animation: scroll-left 20s linear infinite;  /* Hiệu ứng chạy chữ */
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;  /* Màu chữ */
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);  /* Bắt đầu từ bên phải */
    }
    100% {
      transform: translateX(-100%);  /* Di chuyển sang bên trái */
    }
  }
  