.pagination-custom {
    font-size: 17px;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
    color: #000; /* Màu chữ mặc định */
}

.pagination-custom .ant-pagination-item:hover {
    border-color: navy; /* Màu khi hover */
    background-color: rgba(0, 255, 76, 0.226); /* Nền khi active */
    color: navy; /* Màu chữ khi active */
}

.pagination-custom .ant-pagination-item-active {
    border-color: navy; /* Màu viền khi active */
    background-color: rgba(0, 255, 76, 0.226); /* Nền khi active */
    color: navy; /* Màu chữ khi active */
}